:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(124, 124, 124);
}

.search-fild {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  width: 400px;
  height: 40px;
  padding: 10px 20px;
  border: 2px solid rgb(44, 44, 44);
  border-radius: 3px;
  outline: none;
  font-size: 26px;
}

.search-results {
  font-size: 26px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.country-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 120px;
}

.country-name {
  text-align: center;
  font-size: 72px;
}

.country-list {
  width: 400px;
  margin: 0 auto;
}

.country-properties {
  margin-right: 30px;
}

.country-property {
  font-size: 26px;
  font-weight: 700;
}
